@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../images/ocean.jpg');
  background-position: 50% 80%;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

.container {
  align-items: center;
  background: transparent;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100vh;
  justify-content: center;
  width: 95vw;
}

.logo {
  border: solid 5px #fff;
  border-radius: 50%;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 5rem;
  padding: 1rem 2rem;
}

.form {
  width: 100%;
}

.form-item {
  margin-bottom: 1rem;
  position: relative;
}

.form input {
  border: 0;
  border-radius: 2rem;
  color: #fff;
  font-size: 0.95rem;
  height: 3rem;
  outline: 0;
  width: 100%;
}

.input {
  background-color: #fff3;
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

.form-item label {
  font-weight: 300;
}

.label-float {
  font-size: 0.95rem;
  left: 40px;
  position: absolute;
  top: calc(50% - 0.5rem);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
}

.input:focus + .label-float,
.input:not(:placeholder-shown) + .label-float {
  font-size: 0.85rem;
  top: 0;
  transition: 0.25s;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
}

.form input[type="email"] {
  background-image: url('../images/email.png');
  background-repeat: no-repeat;
  background-position: 0.7rem center;
}

.form input[type="password"] {
  background-image: url('../images/senha.png');
  background-repeat: no-repeat;
  background-position: 0.7rem center;
}

.button {
  background-color: #43434A;
  margin-bottom: 1rem;
  padding: 0.5rem 0rem;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info a {
  color: #eee;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
}

.info a:hover {
  border-bottom: solid 1px #eee;
}

@media (min-width: 450px) {
  .container {
    max-width: 500px;
  }
}